doctype
html
  head
    title Bookcision Bookmarklet
    if (typeof debug === "undefined")
      script(src="bookcision.js")
    else
      script(src="bookcision.debug.js")
    style(type="text/css").
      body > p.bigggggg {
        font-size: 150px;
        text-align: center;
      }
      body > div.scollieboos {
        text-align: center;
      }
      body > div.scollieboos p {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
      }
  body
    p.bigggggg Here's the document body, yo
    div.scollieboos
      p Cthulhu dolorem Chthil ir fhtagn gahndol R'lyeh pwe gahndol wuq'il chthil bikt ztobkt fhtagn wihgn gahndol R'lyeh n'fgikt ztobkt nargl'wtag pwe wihgn bikt wuq'il R'lyeh n'fgikt.
      p Cthulhu dolorem Gahndol gahndol mglw'nafh ikt ir R'lyeh.
      p Cthulhu dolorem Gahndol wgah'nagl Cthulhu r'loy chthil fhtagn bikt Ph'nglui wuq'il ir mglw'nafh ir wgah'nagl wgah'nagl nargl'wtag n'fgikt bikt Ph'nglui Ph'nglui pwe ir r'loy r'loy wuq'il pwe n'fgikt bikt wihgn wuq'il wgah'nagl R'lyeh fnarh fhtagn wihgn R'lyeh n'fgikt puhg Ph'nglui ztobkt fnarh nargl'wtag r'loy ikt fhtagn pwe fhtagn fnarh ikt wgah'nagl fhtagn chthil wuq'il fhtagn wuq'il ztobkt Ph'nglui fhtagn gahndol ztobkt ir wihgn ir nargl'wtag ikt Ph'nglui ikt Cthulhu wuq'il ikt R'lyeh R'lyeh pwe wgah'nagl wihgn pwe n'fgikt Cthulhu gahndol hmirsch Cthulhu gahndol fhtagn Cthulhu pwe fhtagn n'fgikt nargl'wtag chthil ztobkt puhg fnarh hmirsch wihgn Cthulhu gahndol R'lyeh nargl'wtag puhg wuq'il gahndol wuq'il wuq'il wgah'nagl mglw'nafh ztobkt fnarh Cthulhu hmirsch wuq'il hmirsch puhg chthil gahndol mglw'nafh fhtagn nargl'wtag Ph'nglui Cthulhu nargl'wtag wgah'nagl Ph'nglui wuq'il fhtagn r'loy ir wgah'nagl wuq'il gahndol r'loy n'fgikt fnarh nargl'wtag n'fgikt pwe hmirsch hmirsch fnarh Cthulhu gahndol ikt nargl'wtag fnarh gahndol gahndol bikt fnarh fhtagn Ph'nglui hmirsch hmirsch.
