syntax: glob
bookcision\.sublime-workspace$
aws\.json$
dest/
node_modules/
node_modules.bak/
build/
src\excisor\npm-debug\.log$
rollbar.json$
*.suo
obj/
node_modules/*
node_modules/
npm-debug.log
rollbar.json
.hg
